site-dist/
site/preview*/
site/debug-*.html
site/public-*.json
__pycache__/
*.pyc
var/
logs/
xtra/

tf/.terraform/
tf/.terraform.lock.hcl
tf/*.tfstate
tf/*.tfstate.*
tf/*.auto.tfvars
tf/*.tfvars.local
